.main-container {
  background-image: url(img/Github-Mug.png);
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
}

.mainSearch {
  background-color: 
}

.addSpace {
  padding-top: 40px;
}

#homeTitle {
  color: white;
}

#noteTitle {
  color: white;
}

#repoTitle {
  color: white;
}

.notes {
  height: 453px;
  overflow-y: scroll;
}

.repos {
  height: 456px;
  border-radius: 4px;
  overflow-y: scroll;
}
